WebServicesBuilder/wsdl/WSTDSrvbenPrces.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://schema/webservices.elink.solcorp.com" xmlns:tns="http://webservices.elink.solcorp.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.elink.solcorp.com">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema/webservices.elink.solcorp.com">
      <element name="callFlowRequest">
        <complexType>
          <complexContent>
            <extension base="intf:WSTDSrvbenPrcesRequest">
              <xsd:anyAttribute namespace="##other"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="callFlowResponse">
        <complexType>
          <complexContent>
            <extension base="intf:WSTDSrvbenPrcesResponse">
              <xsd:anyAttribute namespace="##other"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <complexType name="WSTDSrvbenPrcesRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="ProcessClassID" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="StatisticLogging">
            <simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="yes"/>
              </xsd:restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="0" name="BAMID" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="1" name="MIR-USER-ID">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="8"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="1" name="MIR-USER-PSWD-TXT">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="8"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="1" name="MIR-CO-ID">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="2"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="1" name="LocaleID">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="0" name="RequestParameters" type="intf:GroupRequestParametersRequest"/>
        </sequence>
      </complexType>
      <complexType name="WSTDSrvbenPrcesResponse">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="Messages" type="intf:GroupContentMessages"/>
          <element maxOccurs="1" minOccurs="0" name="ResponseDetails" type="intf:GroupResponseDetailsResponse"/>
        </sequence>
      </complexType>
      <complexType name="GroupContentMessages">
        <sequence>
          <element maxOccurs="5" minOccurs="0" name="Message" type="intf:GroupContentMessage"/>
          <element maxOccurs="1" minOccurs="1" name="More">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="3"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <complexType name="GroupContentMessage">
        <sequence>
          <element maxOccurs="1" minOccurs="1" name="Id">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="100"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="1" name="Severity">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="1" name="Content">
            <simpleType>
              <restriction base="xsd:string">
                <minLength value="0"/>
                <maxLength value="100"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <complexType name="GroupRequestParametersRequest">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="Agent" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="RequestorType" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="PolicyID" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="LrgProdCd" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ProcessDt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BnkNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BrnchNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACTyp" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACNm" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="GroupResponseDetailsResponse">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="ProcessDt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="CpnyRecDt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="JrnlDt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="PolHolNm" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="SurvBftDt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="SurvBftAmt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="MedBftAmtForCvdPrd" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="SurvDfrlBftAmt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="SurvDfrlBftIntAmt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="TotPaymAmt" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BnkNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BnkNm" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BrnchNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="BrnchNm" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACTyp" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACNum" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ACNm" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="ReturnCode" type="xsd:string"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="callFlowRequest">
    <part element="intf:callFlowRequest" name="request"/>
  </message>
  <message name="callFlowResponse">
    <part element="intf:callFlowResponse" name="response"/>
  </message>
  <portType name="FlowServicePort">
    <operation name="callFlow">
      <input message="tns:callFlowRequest" name="callFlowRequest"/>
      <output message="tns:callFlowResponse" name="callFlowResponse"/>
    </operation>
  </portType>
  <binding name="FlowServicePort_" type="tns:FlowServicePort">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="callFlow">
      <wsdlsoap:operation soapAction=""/>
      <input name="callFlowRequest">
        <wsdlsoap:body use="literal"/>
      </input>
      <output name="callFlowResponse">
        <wsdlsoap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSTDSrvbenPrcesService">
    <port binding="tns:FlowServicePort_" name="WSTDSrvbenPrcesService">
      <wsdlsoap:address location="http://localhost:8080/WSTDSrvbenPrces/services/WSTDSrvbenPrces"/>
    </port>
  </service>
</definitions>
